mixin breadcrumbs(items, last)
	div.breadcrumbs
		ul.breadcrumbs__list
			each item in items
				li.breadcrumbs__item
					a(href="/" title=item)= item
			if last 
				li.breadcrumbs__item.breadcrumbs__item--last= last
mixin menu([...items])
	ul.menu__list
		each item, index in items
			li.menu__item(class={active: item.title == pageTitle})
				a.menu__link(href=item.link)= item.title
				if item.submenu 
					span.menu__arrow 
					div.submenu
						ul.submenu__list 
							each submenuItem, submenuIndex in item.submenu 
								li.submenu__item(class={active: submenuItem.title == pageTitle})
									a.submenu__link(href=submenuItem.link)= submenuItem.title
mixin svgsprite(name)
	svg(class=`svg-svg-${name}-dims`)&attributes(attributes)
		use(xlink:href=`./images/icons/icons.svg#svg-${name}`)
mixin section(title, sectionClass, btnShow, adaptValue, iconClass)
	section.sections-item.item-section(class=sectionClass data-da=adaptValue)
		.item-section__body
			header.item-section__header
				span.item-section__icon.icon-wrap(class=iconClass)
				h2.item-section__title
					span!= title
			if block 
				block
			if btnShow
				footer.item-section__footer
					a(href="#").btn-show= btnShow
mixin badges([...items])
	.badges__body
		ul.badges__list
			each item, index in items
				li.badges__item(class={active: index === 2})
					a(href="#")= item
mixin galleryGrid(btnAdd, galleryName)
	.gallery
		.gallery__body.gallery-grid.swiper
			.gallery__wrapper.swiper-wrapper
				each item in galleries.photo
					.gallery__item.item-gallery.swiper-slide
						a(href=`images/sections/galleries/photo/${item.img}.jpg` data-fslightbox=`gallery-${galleryName}`)
							.item-gallery__image.ibg
								img(src=`images/sections/galleries/photo/${item.img}.jpg`, alt="изображение галереи" loading="lazy")
			.gallery__bottom
				if btnAdd
					button(type="button").gallery__btn.icon-wrap.btn-add
				.gallery__controls.slider-controls 
					button(type="button").slider-button.slider-button-prev
					.slider-pagination
					button(type="button").slider-button.slider-button-next
				a(href="#").gallery__link.btn-show Ещё 
mixin galleryList([...array], galleryBodyClass, pathImg, galleryName, isBadge, btnAdd)
	.gallery
		.gallery__body.swiper(class=galleryBodyClass)
			.gallery__wrapper.swiper-wrapper
				each item, index in array
					.gallery__item.item-gallery.swiper-slide
						if item.badge && isBadge
							| !{item.badge} 
						a(href=`images/sections/galleries/${pathImg}/${item.img}.jpg` data-fslightbox=`gallery-${galleryName}`)
							.item-gallery__image.ibg
								img(src=`images/sections/galleries/${pathImg}/${item.img}.jpg`, alt="изображение галереи" loading="lazy")
						if galleryBodyClass != "gallery-recent"
							.item-gallery__body 
								time(datetime="2011-06-03").item-gallery__date 23.06.2011 16:22:02
								.item-gallery__name= item.name
								.item-gallery__author= item.author
			.gallery__bottom
				if btnAdd
					button(type="button").gallery__btn.icon-wrap.btn-add
				.gallery__controls.slider-controls 
					button(type="button").slider-button.slider-button-prev
					.slider-pagination
					button(type="button").slider-button.slider-button-next
				a(href="#").gallery__link.btn-show Ещё 
mixin galleryBig([...array], galleryBodyClass, pathImg, galleryName)
	.gallery
		.gallery__body.swiper(class=galleryBodyClass)
			.gallery__wrapper.swiper-wrapper
				each item, index in array
					.gallery__item.item-gallery.swiper-slide
						a(href=`images/sections/galleries/${pathImg}/${item.img}.jpg` data-fslightbox=`gallery-${galleryName}`)
							.item-gallery__image.ibg
								img(src=`images/sections/galleries/${pathImg}/${item.img}.jpg`, alt="изображение галереи" loading="lazy")
						if block 
							block
		.gallery__bottom
			.gallery__controls.slider-controls 
				button(type="button").slider-button.slider-button-prev
				.slider-pagination
				button(type="button").slider-button.slider-button-next
			a(href="#").gallery__link.btn-show Ещё 
mixin bigNews([...array], imgPath)
	ul.item-section__list.big-news-list
		each item, index in array
			li.item-section__list-item.big-news-item
				a(href="#").item-section__link.big-news-link
					.big-news-image
						img(src=`images/sections/${imgPath}/${item.img}.jpg`, alt=item.title loading="lazy")
					.big-news-content
						.big-news-title= item.title
						.big-news-text= item.text
						time(datetime=item.date.split('.').reverse().join('-') class="big-news-date")= item.date
mixin smallNews([...array], imgPath)
	ul.item-section__list.small-news-list
		each item, index in array
			li.small-news-item
				a(href="#").item-section__link.small-news-link
					.small-news-image 
						img(src=`images/sections/${imgPath}/${index+1}.jpg`, alt=item.text loading="lazy")
					.small-news-content 	
						span.item-section__link-text.small-news-text= item.text
						if item.dateStart || item.dateEnd
							.small-news-dates
								time(datetime=item.dateStart.split('.').reverse().join('-') class="small-news-date")= item.dateStart
								|  -
								time(datetime=item.dateEnd.split('.').reverse().join('-') class="small-news-date")= item.dateEnd
mixin btn(btnText, className)
	button(type="button" class=className).btn= btnText
mixin authorBox(className, sectionTitle, textResult, countResult)
	section.author-box(class=className)
		header.author-box__header 
			h2.author-box__title #{sectionTitle}
			button(type="button").author-box__button 
				span.author-box__button-text Свернуть
				span.author-box__arrow
		.author-box__body
			if textResult
				.author-box__result Всего #{textResult}: #[strong #{countResult}]
			if block 
				block
mixin exhibitionCard([...arr], className)
	if arr.length > 0
		each item in arr
			.exhibition-card(class=className)
				.exhibition-card__image-wrap 
					.exhibition-card__image.ibg
						img(src=`images/exhibition/${item.img}.jpg`, alt="фото" loading="lazy")
					.exhibition-card__views 12425
					if item.badge
						.exhibition-card__badge= item.badge
				.exhibition-card__content 
					.exhibition-card__title
						if item.content 
							| #{item.content}
						else
							| Выставка-реконструкция «Терракотовая армия. Бессмертные воины Китая» #[span 12+]
mixin exhibitionBigCard([...arr])
	if arr.length > 0
		each item, index in arr
			.exhibition-card.long-card
				.exhibition-card__image-wrap 
					.exhibition-card__image.ibg
						img(src=`images/exhibition/big-${item}.jpg`, alt="фото" loading="lazy")
					.exhibition-card__views 12425
				.exhibition-card__content 
					.exhibition-card__title
						| Выставка-реконструкция «Терракотовая армия. Бессмертные воины Китая» #[span 12+]
					.exhibition-card__description 
						p Реконструкция сенсационной археологической находки XX века — многотысячного глиняного войска китайского
					ul.exhibition-card__list
						li.exhibition-card__list-item 30 ноября 2023 – 1 сентября 2024 10:00–21:00
						li.exhibition-card__list-item ВДНХ, павильон 22
						li.exhibition-card__list-item от 650 рублей
					.exhibition-card__bottom 
						button.exhibition-card__button Купить билет
						button.exhibition-card__favorite(type="button" class=`${index % 2 == 0 ? 'active' : ''}`)
							svg(width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg")
								path(d="M11 21.5C16.5228 21.5 21 17.0228 21 11.5C21 5.97715 16.5228 1.5 11 1.5C5.47715 1.5 1 5.97715 1 11.5C1 17.0228 5.47715 21.5 11 21.5Z" stroke="#A4A4A4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
								path(fill-rule="evenodd" clip-rule="evenodd" d="M10.9966 8.56791C9.9969 7.3992 8.32987 7.08482 7.07735 8.15501C5.82482 9.22519 5.64848 11.0145 6.6321 12.2802C7.26211 13.0909 8.87558 14.5942 9.95424 15.5704C10.3127 15.8947 10.4919 16.0569 10.7066 16.122C10.8911 16.1779 11.102 16.1779 11.2866 16.122C11.5012 16.0569 11.6805 15.8947 12.0389 15.5704C13.1176 14.5942 14.731 13.0909 15.3611 12.2802C16.3447 11.0145 16.1899 9.21393 14.9158 8.15501C13.6417 7.09608 11.9963 7.3992 10.9966 8.56791Z" stroke="#A4A4A4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
mixin exhibitionActions([...arr], date)
	if arr.length > 0
		ul.exhibition-actions__list
			each item, index in arr
				li.exhibition-actions__item
					a.exhibition-actions__btn(href="#" class=index==0 ? 'active' : '')= item
			if block 
				block
