extends includes/layout.pug

append variables
	- let pageTitle = "Okvideo PRO";
	- description += pageTitle;
	- breadcrumbs = true;
block content
	.studio.exposition
		.container 
			.studio__top.top-studio
				.top-studio__info
					.top-studio__title.page-title= pagetitle
					ul.custom-list
						li.custom-list__item 
							| Студия
							span 3 локации
					button(type="button").btn-favorite В избранное
					button(type="button").btn-share Поделиться
					.rating 
						ul.rating__list.r-3 
							li.rating__item 
							li.rating__item 
							li.rating__item 
							li.rating__item 
							li.rating__item 
						.rating__value 8 отзывов
				a(href="#").top-main__banner
					.top-main__image.ibg
						picture
							source(srcset="images/agreement/banner.jpg" media="(min-width: 767.98px)")
							source(srcset="images/agreement/banner.jpg" media="(min-width: 320px)")
							img(src="images/agreement/banner.jpg", alt="Изображение" loading="lazy")
					.top-main__banner-text
						| Бленда для монитора для лучшей цветокоррекции
			.studio__wrapper
				each item in studioPage.cards
					.studio-card
						if item.images
							.studio-card__slider.swiper 
								.swiper-wrapper
									each image in item.images
										.swiper-slide.studio-card__item
											.studio-card__image.ibg
												img(src=`/images/studio/studio-${image}.jpg`, alt=item.title)
						.studio-card__body 
							.studio-card__title= item.title
							ul.custom-list
								li.custom-list__item 
									| #{item.list[0]}
									span #{item.list[1]}
							.studio-card__actions 
								if item.contacts
									.studio-card__contacts
										button(type="button").studio-card__btn-contacts
										ul.studio-card__contacts-list 
											each contact in item.contacts
												li.studio-card__contacts-item #{contact}
								.studio-card__reactions 
									button(type="button").btn-favorite В избранное
									button(type="button").btn-share Поделиться
									.rating 
										ul.rating__list.r-3 
											li.rating__item 
											li.rating__item 
											li.rating__item 
											li.rating__item 
											li.rating__item 
										.rating__value 8 отзывов
							.studio-card__content 
								p Replace — фотостудия, которая вдохновляет! Интерьерная фотостудия в стиле минимализм в Москве. Большие окна. Идеальное дневное освещение. Мягкий, рассеянный свет.
							if item.result	
								.studio-card__bottom 
									ul.custom-list
										li.custom-list__item 
											| #{item.result[0]}
											span #{item.result[1]}
									.studio-card__buttons 
										button(type="button").btn.btn-video Экскурсия по студии
										button(type="button").btn.btn-reserv Забронировать
			include ./components/paginationExtend
			+similarExposition("Похожие локации")
				each item in studioPage.similar
					+expositionCard(item, "studio")
			include ./components/paginationExtend