extends includes/layout.pug

append variables
	- let pageTitle = "Okvideo PRO";
	- description += pageTitle;
	- breadcrumbs = true;
block content
	.studio
		.container 
			.studio__top.top-studio
				.top-studio__info
					.top-studio__title.page-title= pageTitle
					ul.custom-list
						li.custom-list__item 
							| Студия
							span 3 локации
					.top-studio__reactions
						+btnFavorite
						+btnShare
						+ratingBlue(3, true)
				a(href="#").top-main__banner
					.top-main__image.ibg
						picture
							source(srcset="images/agreement/banner.jpg" media="(min-width: 767.98px)")
							source(srcset="images/agreement/banner.jpg" media="(min-width: 320px)")
							img(src="images/agreement/banner.jpg", alt="Изображение" loading="lazy")
					.top-main__banner-text
						| Бленда для монитора для лучшей цветокоррекции
			.studio__wrapper
				a(href="#").banner.banner-long.banner-red
					.banner__image
						img(src="images/banners/red.png", alt="Рюкзаки и сумки для оборудования фотографа")
					.banner__body 
						.banner__title Рюкзаки и сумки для оборудования фотографа
				each item, index in studioPage.cards
					.studio-card
						+studioCardSlider(item.images, index)
						.studio-card__body
							.studio-card__head
								.studio-card__title= item.title
								ul.custom-list
									li.custom-list__item 
										| #{item.list[0]}
										span #{item.list[1]}
							.studio-card__actions 
								if item.contacts
									+studioContacts(item.contacts)
								.studio-card__reactions 
									+btnFavorite
									+btnShare
									+ratingBlue(3, true)
							.studio-card__content.content
								.content-caption Описание
								p Replace — фотостудия, которая вдохновляет! Интерьерная фотостудия в стиле минимализм в Москве. Большие окна. Идеальное дневное освещение. Мягкий, рассеянный свет.
							if item.result	
								.studio-card__bottom 
									ul.custom-list
										li.custom-list__item 
											| #{item.result[0]}
											span #{item.result[1]}
									.studio-card__buttons 
										+btnVideo
										+btnReserve
				include ./components/paginationExtend
				+similarExposition("Похожие локации")
					each item in studioPage.similar
						+expositionCard(item, "studio")
				include ./components/paginationExtend